/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}

ul {
	list-style-type: none;
}
.wrapper {
	padding: 10px 15px;
  background: #FFF;
}
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  color: #222;
}

.clearfix {
	clear: both;
	overflow: auto;
}

/* Link Styles */

a:hover {
	opacity: 0.2
}

a:visited {
	color: inherit;
}


/* Nav Styles */
.top-section {
	background: #FAFAFA;
	padding: 15px;
}
ul {
	padding-left: 0;
}

.main-nav li a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 900;
	text-decoration: none;
	color: #3B3B3B;
	background-color: #FFF;
	display: inline-block;
	padding: 12px 10px;
	margin: 3px auto;
	width: 100%;
}


/* About Styles */

.profile-image {
	width: 70%;
	padding-top: 20px;
}

.about-section {
	color: #606060;
	font-size: 18px;
}


/* Portfolio Styles */

.portfolio-section {
	background: #FFF;
	padding: 45px 15px 25px 15px;
	width: 100%;
}

.portfolio-image {
	width: 90%;
}

.portfolio-headings {
	margin-bottom: auto;
}

.portfolio-body {
	font-size: 16px;
	margin-top: 10px;
}

/* Skills Styles */

.skills-image {
	width: 70%;
	padding-top: 20px;
}

.skills-section-text {
	color: #606060;
	font-size: 18px;
}

.skills-section {
	background: #CDCDCD;
}

/* Contact Styles */

.contact-section {
	padding: 35px 15px 20px 15px;
	background-color: #FAFAFA;
}

.contact-section:after {
	content: "";	
	display: block;
	margin: 0 auto;
	width: 100%;
	padding-top: 20px;
	border-bottom: 1px solid;
	border-color: #E4E4E4;
}

.contact-paragraph {
	color: #606060;
	font-size: 17px;
}

.contact-section h2 {
	padding-bottom: 10px;
	padding-top: 15px;
}

.contact-section ul {
	color: #606060;
	font-size: 17px;
}

.contact-section li {
	padding-bottom: 10px;
}

/* Footer Styles */
footer {
	background: #FAFAFA;
	padding: 0 15px 15px 15px;
}

.footer-nav {
	display:none;
}

.student-name {
	color: #0097D7;
	font-size: 30px;
	font-weight: bold;
	background: none;
	display: inline-block;
	
}

.student-name-footer {
	color: #3B3B3B;
	font-size: 30px;
	font-weight: bold;
	background: none;
	display: inline-block;
	float: left;
}


.top-link {
	color: #3B3B3B;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: bold;
	background: none;
	display: inline-block;
	float: right;
}

.top-link a {
	text-decoration: none;
}

/* Text Styles */

h2 {
	color: #3B3B3B;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 900;
	padding-bottom: 45px;
	margin: auto;
}

h3 {
	color: #3B3B3B;
	font-size: 20px;
	text-transform: capitalize;
	font-weight: 600;
	margin-top: 25px;
}

p {
	color: #3B3B3B;
	font-size: 17px;
	margin-bottom: 15px;
	line-height: 150%;
}

/* Media Queries */

@media (min-width: 768px) {
		
	.main-nav li a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 900;
	text-decoration: none;
	color: #3B3B3B;
	background-color: #FAFAFA;
	display: inline-block;
	padding: 0;
	margin: 0 auto;
	width: 100%;
}
	.main-nav li {
	display: inline-block;
	padding: 0;
	margin: 0 auto;
	width: 15%;
}
	
.student-name {
	font-size: 30px;
	font-weight: bold;
	background: none;
	display: inline-block;
	float: none;
}
	
/* About Styles */

.profile-image {
	width: 45%;
	padding-top: 20px;
	float: right;
}

.about-section {
	color: #606060;
	text-align: left;
	font-size: 21px;
	float: left;
	width: 55%;
}	

.top-section {
	background: #FAFAFA;
	padding: 20px 35px 55px 35px;
}
	
ul,
.nav {
	margin: 10px 0 45px 0;
}

/* Portfolio Styles */

.portfolio-section {
	background: #FFF;
	padding: 45px 15px 25px 15px;
	width: 100%;
}

.portfolio-image {
	width: 95%;
}

.portfolio-headings {
	margin-bottom: auto;
}

.portfolio-body {
	font-size: 16px;
	margin-top: 10px;
	padding: 0 35px; 
}
	
.portfolio-item {
		display: inline-block;
		width: 50%;
		margin-right: -5px;
		margin-left: -5px;
		vertical-align: top;
		margin-bottom: 35px;
			
}	
	
/* Contact Styles */

.contact-section {
	padding: 35px 35px 20px 35px;
}

.contact-section:after {
	content: "";	
	display: block;
	margin: 0 auto;
	width: 100%;
	padding-top: 20px;
	border-bottom: 1px solid;
	border-color: #E4E4E4;
}

.contact-paragraph {
	color: #606060;
	font-size: 21px;
	padding: 0 100px 30px 100px;
}

.contact-section h2 {
	padding-bottom: 10px;
	padding-top: 15px;
}

.contact-section ul {
	color: #606060;
	font-size: 21px;
}

.contact-section li {
	padding-bottom: 15px;
}
	
/*Footer Navigation*/
	
.student-name-footer {
	color: #3B3B3B;
	font-size: 30px;
	font-weight: bold;
	background: none;
	display: inline-block;
	float: left;
}	
	
.top-link {
	color: #3B3B3B;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: bold;
	background: none;
	display: none;
	float: right;
}	
	
.footer-nav {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 900;
	text-decoration: none;
	color: #3B3B3B;
	display: block;
	padding: 12px 10px;
	width: 50%;	
	float: right;
	text-align: right;
}	

	.footer-nav li {
	display: inline-block;
	padding: 0 0 0 30px;
}
	
.footer-nav li a {
 text-decoration: none;
}
	
footer {
	background: #FAFAFA;
	padding: 0 35px 15px 35px;
}	

}

@media (min-width: 1024px) {
	
.student-name {
	font-size: 30px;
	font-weight: bold;
	background: none;
	display: inline-block;
	float: left;
}

	.main-nav li a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 900;
	text-decoration: none;
	color: #3B3B3B;
	background-color: #FAFAFA;
	display: inline-block;
	padding: 0;
	margin: 0 auto;
	width: auto;
}
	.main-nav li {
	display: inline-block;
	padding: 0 0px 0 40px;
	margin: 0;
	width: auto;
    text-align: right;	
}
	
	.main-nav {
	padding: 0;
	width: 50%;	
	float: right;
	text-align: center;
	margin-top: 20px;
	vertical-align: middle;
	}
	

	ul, .nav {
		margin-bottom: 0;
		padding-right: 0;
		text-align: right;
	}
	
.top-section {
	background: #FAFAFA;
	padding: 20px 50px 55px 50px;
}
	
.about-section {
	color: #606060;
	text-align: left;
	font-size: 21px;
	float: left;
	width: 52%;
}			

.profile-image {
	width: 45%;
	padding-top: 55px;
	float: right;
}
	
.portfolio-section {
	background: #FFF;
	padding: 50px 15px 25px 15px;
	width: 95%;
	margin: 0 auto;
}	
	
.portfolio-item {
		display: inline-block;
		width: 33%;
		margin-right: -5px;
		margin-left: -5px;
		vertical-align: top;
		margin-bottom: 35px;		
}	
	
	main {
		background-color: #FAFAFA;
	}	
	
.contact-paragraph {
	color: #606060;
	font-size: 21px;
	padding: 0 100px 30px 100px;
	width: 76%;
	margin: 0 auto;
}
	
.contact-section li {
	padding-bottom: 15px;
	width: auto;
	margin: 0 auto;
	text-align: center;
}
		
.contact-section ul {
	color: #606060;
	font-size: 21px;
	margin-bottom: 20px;
}
	
.contact-section:after {
	content: "";	
	display: block;
	margin: 0 auto;
	width: 100%;
	padding-top: 20px;
	border-bottom: 1px solid;
	border-color: #E4E4E4;
}	
	
.contact-section {
	padding: 35px 40px 20px 40px;
}	
	
footer {
	padding: 0 40px 15px 40px;
}	
	
	.footer-nav li {
	display: inline-block;
	padding: 0 0 0 30px;
}	
	
.footer-nav {
	padding: 12px 0;
}		

}







